<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Görevi Yönetimi</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
		integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
</head>
<style>
	a {
		padding: 2em;
		color: black;
	}

	a:hover {
		background-color: rgba(197, 190, 190, 0.74);
		color: white !important;
		;
	}
</style>
</head>

<body>
	<nav class="navbar navbar-inverse" style="background-color: rgba(228, 228, 228, 0.74);">
		<div class="container-fluid">
			<div class="navbar-header">
				<div sec:authorize="isAuthenticated()" style="text-transform: uppercase;">
					<b><span sec:authentication="name"></span> &nbsp; </b>Hoşgeldin

					<ul class="navbar-nav mr-auto">
						<li></li>
					</ul>
				</div>

			</div>
			<a class="navbar-brand" th:href="@{/admin/task/list}">Anasayfa</a>

			<ul class="nav navbar-nav navbar-right">
				<li>
					<form th:action="@{/logout}" method="post">
						<input class="btn btn-danger" type="submit" value="Çıkış Yap" />
					</form>
				</li>
			</ul>
		</div>
	</nav>
	<div class="container">
		<h1>Görevi Düzenle</h1>
		<br />
		<form action="#" th:action="@{/admin/update}" th:object="${task}" method="post">
			<table cellpadding="10">
				<tr>
					<td>Görev Id :</td>
					<td><input class="form-control" type="text" th:field="*{id}" readonly="readonly" /></td>
				</tr>
				<tr>
					<td>Görevli :</td>
					<td><input class="form-control" type="text" th:field="*{username}" readonly="readonly" /></td>
				</tr>
				<tr>
					<td>Görev Adı</td>
					<td><input class="form-control" type="text" th:field="*{taskName}" /></td>
				</tr>
				<tr>
					<td>Görevin Açıklaması :</td>
					<td><input class="form-control" type="text" th:field="*{description}" /></td>
				</tr>
				<tr>
					<td>Teslim Tarihi :</td>
					<td><input class="form-control" type="date" th:field="*{complateDate}" /></td>
				</tr>
				<tr>
					<td>Görevin Durumu :</td>
					<td><select class="form-control" th:field="*{status}">
							<option th:value="'Yapılacak'" th:text="'Yapılacak'"></option>
							<option th:value="'Ertelendi'" th:text="'Ertelendi'"></option>
							<option th:value="'İptal Edildi'" th:text="'İptal Edildi'"></option>
							<option th:value="'Tamamlandı'" th:text="'Tamamlandı'"></option>
						</select></td>
				</tr>
				<tr>
					<td colspan="2"><button class="btn btn-success" type="submit">Kaydet</button></td>
				</tr>
			</table>
		</form>
	</div>
</body>

</html>